# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# bak
*~

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

*.pyc
*.stackdump
lang/c/autom4te.cache/traces.0
lang/c/autom4te.cache/requests
lang/c/autom4te.cache/output.0

dox/build/

lang/c/config.h
lang/c/config.log
lang/c/config.status
lang/c/Makefile
lang/c/mqtt_udp_pub
lang/c/mqtt_udp_sub

lang/python3/examples/openhab_gate.log
lang/python3/build/*



tools/tray/launch4j.log
tools/viewer/launch4j.log
